<h2>Listing orders</h2>

<table>
  <tr>
    <th>Total amount</th>
    <th>First name</th>
    <th>Last name</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.total_amount %></td>
    <td><%= order.first_name %></td>
    <td><%= order.last_name %></td>
    <td><%= link_to 'Show', order %></td>
  </tr>
<% end %>
</table>

<p class="form_actions">
<%= link_to 'New Order', new_order_path %>
</p>