<h2>Orders</h2>

<table>
  <tr>
    <th>ID</th>
    <th>First</th>
    <th>Last</th>
    <th>Amount</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.first_name %></td>
    <td><%= order.last_name %></td>
    <td><%= number_to_currency(order.total_amount.to_f) %></td>
    <td><%= link_to 'Show', order %></td>
  </tr>
<% end %>
</table>

<p class="form_actions">
<%= link_to 'New Order', new_order_path %>
</p>