<h2>Transactions</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Order</th>
    <th>Action</th>
    <th>Amount</th>
    <th>Response</th>
    <th></th>
  </tr>

<% @order_transactions.each do |order_transaction| %>
  <tr>
    <td><%= order_transaction.id %></td>
    <td><%= order_transaction.order_id %></td>
    <td><%= order_transaction.action %></td>
    <td><%= order_transaction.response_success %></td>
    <td><%= link_to 'Show', order_transaction %></td>
  </tr>
<% end %>
</table>
